@{
    ViewBag.Title = "Stations";
    Layout = "~/Views/MasterPages/KkkMasterPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ElementList</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
